@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #A62639;
  --pink: #DB324D;
  --dark-grey: #56494E;
  --light-grey: #56494E;
  --burgundy: #511C29;
  --white: white;
  --black:black;

}

* {
  border: solid 0px;
}

html {
  height:100%;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
 
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
ul {
  list-style-type: none;
}

li {
  display: inline-block; 
}
*/
.header-color {
  background-color: black;
}

.nav-link {
  color: #ffffff;
}

.nav-link-active {
  color: black;
  padding: 10px;
  background-color: yellow;
  border-radius: 25px;
  box-shadow: 5px 5px 1px #d6d6d6;
  z-index: 10;
  display: inline-block; 
  /*transform:scale(1.5);*/
 /* transform: skew(10deg, 10deg);*/ /* Equal to skewX(10deg) */

}
ul li {
  transition:0.5s;
}

.nav-link:hover {
  transform:scale(1.5);
}

.photo {
  animation: move 0.5s alternate ease-in-out;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  
}

.footer {
  position: relative;
  margin-bottom: 0px;
  height: 2.5rem;
  /*background-color: red;*/
  bottom: 0;
}

.footer ul li {
  padding-left: 3rem;
  padding-right: 3rem;
}
@keyframes move {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(6deg);
  }
}

/*
ul li:hover{
  transform:scale(1.5);
}*/

/*
button:hover{
  transform:scale(1.5);
}
*/

/*
ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  
  transition:0.5s;
}

ul:hover li a{
  transform:scale(1.5);
}

ul li a:hover{
  transform:scale(1.5);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}
*/

/*
ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ff497c;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}
*/