@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Josefin+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&family=Rock+Salt&display=swap);
@Import url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@400;700&display=swap);

:root {
  --red: #A62639;
  --pink: #DB324D;
  --dark-grey: #56494E;
  --light-grey: #56494E;
  --burgundy: #511C29;
  --white: white;
  --black:black;
  --light-yellow: #FFEE32;
  --dark-yelloe: #FFD100;


}

* {
  border: solid 0px;
}

html {
  height:100%;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  /*flex-direction: column; */
}

.about-me {
  font-family: 'Josefin Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hand-written {
  font-family: 'Dancing Script';
}

.stext  {
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(-10deg); /*Mozilla */
   transform: rotate(-10deg); 
}

.highlight {
  color: #B80000;
}

@keyframes size-change {
  0%   {font-size: 30px;}
  25%  {font-size: 35px;}
  50%  {font-size: 40px;}
  100% {font-size: 30px;}
}

.size-animation {
  /* width: 100px;
  height: 100px;
  background-color: red; */
  animation-name: size-change;
  animation-duration: 4s;
}

@keyframes colour-change {
  0%   {color: #fdba74;}
  25%  {color: #fb923c;}
  50%  {color: #f97316;}
  100% {color: #ea580c;}
}

.colour-animation {
  /* width: 100px;
  height: 100px;
  background-color: red; */
  animation-name: colour-change;
  animation-duration: 4s;
}

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-55px);}
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);}
}

.bounce-animation {
  animation: bounce 10s ease infinite;
}


@keyframes spinner {
  /* from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  } */
  
  0%   { transform: rotateX(0deg); }
  50%  { transform: rotateX(180deg); }
  100% { transform: rotateX(360deg);}

}

.spinner {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  transform-style: preserve-3d;
  text-align:center;
}


.bg-dark {
  background:url("./assets/helen-beach-black-white-curl.jpg");
  height: 655px;
  width: 495px;
  /* height: 50%; */
  /* width: 30%; */
  background-repeat: no-repeat
}

.hover\:bg-light:hover {
  background:url("./assets/helen-beach-colour-curl.jpg");
  background-repeat: no-repeat
}

.header-color {
  background-color: black;
}

.nav-link {
  color: #ffffff;
}

.nav-link-active {
  color: black;
  padding: 10px;
  background-color: yellow;
  /* background-color: (--var(dark-yellow)); */
  border-radius: 25px;
 /* box-shadow: 5px 5px 1px #d6d6d6;
  z-index: 10;*/
  display: inline-block; 
  /*transform:scale(1.5);*/
 /* transform: skew(10deg, 10deg);*/ /* Equal to skewX(10deg) */

}
ul li {
  transition:0.5s;
}

.nav-link:hover {
  transform:scale(1.5);
}

.photo {
  animation: move 0.5s alternate ease-in-out;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  
}

.footerx {
  position: relative;
  margin-bottom: 0px;
  height: 2.5rem;
  /*background-color: red;*/
  bottom: 0;
  margin-top: auto;
}

.footer ul li {
  padding-left: 3rem;
  padding-right: 3rem;
}
@keyframes move {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(6deg);
  }
}

@media only screen and (max-width: 600px) {
  .bg-dark {
    background:url("./assets/helen-beach-black-white-curl_25.jpg");
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 163px;
    width: 123px;
  }
  .bg-light {
    background:url("./assets/helen-beach-colour-curl_25.jpg");
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 163px;
    width: 123px;
  }
  aside{
    flex: 100%;
  }
  .main-container {
    flex-direction: column;
  }
  .image-container {
    flex: 100%;
    background-color: #A62639;
  }
  .about-container {
    flex: 100%;
    width: 100%;
    background-color: #fdba74;
  }
}
